nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href=`${pathBase}/`)
      i.bi.bi-hexagon-half
      |  Simple Whatsapp Api
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href=`${pathBase}/`) Home
        li.nav-item(class=(title === 'Qr Code') ? 'active' : undefined)
          a.nav-link(href=`${pathBase}/qr`) Qr Code
        li.nav-item(class=(title === 'Send Message') ? 'active' : undefined)
          a.nav-link(href=`${pathBase}/message`) Send Message
        li.nav-item(class=(title === 'OTP Request') ? 'action' : undefined)
          a.nav-link(href=`${pathBase}/otp`) OTP Request